@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F9FC;
  color: #0F1B2D;
}

.font-nums {
  font-family: 'JetBrains Mono', monospace;
  font-feature-settings: "tnum";
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }

  .opacity-0 { opacity: 1 !important; }
}